In [1]:
import pandas as pd

In [2]:
facility_data = pd.read_csv('JPL_Facilities.csv')

In [3]:
facility_data.head()

,Center,Center Search Status,Facility,FacilityURL,Occupied,Status,URL Link,Record Date,Last Update,Country,Contact,Phone,Location,City,State,Zipcode
0,Stennis Space Center,Public,Test Stand A-2 #4122,NaN,01/01/1964 12:00:00 AM,Inactive,http://rockettest.nasa.gov,03/01/1996 12:00:00 AM,04/06/2015 12:00:00 AM,US,Robert Bruce,228-688-1646,"39529-6000(30.385948, -89.604486)",Stennis Space Center,MS,39529-6000
1,Ames Research Center,Public,N229 - EXPER. AEROTHERMODYNAMIC FAC.: ELECTRIC...,NaN,01/01/1961 12:00:00 AM,Active,http://thermo-physics.arc.nasa.gov,03/01/1996 12:00:00 AM,06/13/2014 12:00:00 AM,US,Rocci Caringello,650 603-9506,"94035(37.41412, -122.052585)",Moffett Field,CA,94035
2,Goddard Space Flight Center,Public,"500 WSC: Antenna, 10m S-band",NaN,01/01/1977 12:00:00 AM,Active,NaN,03/01/1996 12:00:00 AM,08/15/2013 12:00:00 AM,US,Barry Green,301 286 2520,"20771(38.99538, -76.853161)",Greenbelt,MD,20771
3,Glenn Research Center,Public,Vacuum Facility 11 (VF-11) Bldg. 16,NaN,NaN,Active,http://facilities.grc.nasa.gov/epl/index.html,07/15/2010 12:00:00 AM,03/04/2015 12:00:00 AM,US,Linda C. Elonen-Wright,216-433-9370,"44135(41.430364, -81.808561)",Cleveland,OH,44135
4,Marshall Space Flight Center,Public,Materials Testing & Research Facility 4464,NaN,NaN,Active,NaN,03/08/2007 12:00:00 AM,03/31/2014 12:00:00 AM,US,Pam Caruso,256-544-7795,"35812(34.729538, -86.585283)",Huntsville,AL,35812

In [9]:
facility_data.shape

(485, 16)

In [8]:

pd.set_option('display.max_rows', 20)

In [9]:
Nasa_unique_centers = facility_data.Center.unique

Nasa_unique_centers

<bound method Series.unique of 0                  Stennis Space Center
1                  Ames Research Center
2           Goddard Space Flight Center
3                 Glenn Research Center
4          Marshall Space Flight Center
5             Michoud Assembly Facility
6                  Johnson Space Center
7                  Kennedy Space Center
8                  Kennedy Space Center
9           Goddard Space Flight Center
                     ...
475             Langley Research Center
476        Marshall Space Flight Center
477               Glenn Research Center
478        Marshall Space Flight Center
479                Kennedy Space Center
480                Kennedy Space Center
481        Wallops Flight Facility/GSFC
482                Kennedy Space Center
483             Langley Research Center
484    Armstrong Flight Research Center
Name: Center, Length: 485, dtype: object>

In [10]:
facility_data.columns

Index(['Center', 'Center Search Status', 'Facility', 'FacilityURL', 'Occupied',
       'Status', 'URL Link', 'Record Date', 'Last Update', 'Country',
       'Contact', 'Phone', 'Location', 'City', 'State', 'Zipcode'],
      dtype='object')

In [13]:
JPL_facilities = facility_data.loc[facility_data['Center'] == 'Jet Propulsion Lab']

In [15]:
JPL_facilities.head(1)

,Center,Center Search Status,Facility,FacilityURL,Occupied,Status,URL Link,Record Date,Last Update,Country,Contact,Phone,Location,City,State,Zipcode
10,Jet Propulsion Lab,Public,Mirror Refurbishment Building,NaN,01/01/1992 12:00:00 AM,Active,NaN,03/01/1996 12:00:00 AM,08/08/2013 12:00:00 AM,US,Gary Gray,818.354.0701,"91109(34.178124, -118.150662)",PASADENA,CA,91109

In [16]:
JPL_facilities_subset = JPL_facilities[['Center', 'Facility', 'Occupied', 'Status', 'Record Date', 'Last Update', 'Location']]

In [19]:
JPL_facilities_subset.head(2) # 'Location' feature provides coordinates of 'Facility'

,Center,Facility,Occupied,Status,Record Date,Last Update,Location
10,Jet Propulsion Lab,Mirror Refurbishment Building,01/01/1992 12:00:00 AM,Active,03/01/1996 12:00:00 AM,08/08/2013 12:00:00 AM,"91109(34.178124, -118.150662)"
39,Jet Propulsion Lab,Space Flight Operations Facility,01/01/1964 12:00:00 AM,Active,03/01/1996 12:00:00 AM,08/08/2013 12:00:00 AM,"91109(34.178124, -118.150662)"